﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        Módulo WEB API 2
        <small>Processo Seletivo Todos</small>
    </h1>
    <p class="lead">
        Aplicação referente ao requisito de uma aplicação desenvolvido em Microsoft WEB API 2 para entregar os dados as aplicações clientes.
        <br />
        É necessário verificar se a porta que esta api está sendo executada, é a mesma que está configurada nas aplicações clientes.
    </p>
</div>

